:root{

}

* {
    box-sizing: border-box;
}

hr {
    width: 100%;
}

.header {
    background-image: linear-gradient(to right, blue, darkblue);
    color: white;
    text-align: center;
}

.container {
    margin-top: 10px;
}

.form-label {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: .25rem;
}

.btn {
    margin-top: .5rem;
    width: 100%;
}

.submitbtn {
    padding-bottom: .5rem;
    border-bottom: 2px solid rgb(165, 165, 165);
}